/*  
 * Name: Lau Jia Qi   
 * Student ID: S10267822A 
 * Implemented: design and colour for footer   
 */
/* Footer styling */
.footer {
    background-color: #34495e; /* Darker tone for footer */
    padding: 20px 30px;
    color: #fff; /* White text */
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: #1abc9c; /* Light turquoise links */
    text-decoration: none;
}

.footer a:hover {
    color: #16a085; /* Darker turquoise on hover */
}

.footer p {
    margin-top: 10px;
}
